.progress-bar {
    position: fixed;
    height: 10px;
    width: 100%;
    background: brown;
    transform: scaleX(0);
    transform-origin: 0;
}
.headline{
    display: flex;
    align-items: center;
}
.headline-text{
    width: 50%;
    margin: 50;
    text-align: center;
}
.photo{
    width: 50%;
}

.photo img {
    width: 100%;
}