
.story1{
    width: 70%;
    height: 20%;
    border: 1px solid black;
    color: black;
    /* margin-top: 50px; */
    margin: 30px 60px 200px 200px;
}
/* .story2{
    width: 70%;
    height: 20%;
    border: 1px solid black;
    color: black;
    margin-top: 50px;
    margin-left: 80px;
} */