@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=DM+Serif+Text&display=swap');
body{
    margin: 0;
}
.item {
    width: 324px;
    position: relative;
    border: 1px solid #d2d9d9;
    margin-bottom: 15px;
}

.item img {
    width: 324px;
    height: 243px;
}

.item:hover .lead {
    opacity: 0.9;
}

.lead {
    background-color: rgba(255, 255, 255, 0.8);
    width: 324px;
    height: 243px;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: all 0.4s;
}

.lead p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-family: 'Playfair Display', serif;
    line-height: 25px;
}

.headline {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 6px;
    height: 100px;
    padding: 5px;
}

.tag {
    position: absolute;
    top: 2px;
    left: 2px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #1d7726;
    padding: 2px 5px;
    font-size: 10px;
    color: #1d7726;
}

.story,.photo {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}

.storylist{
    display: flex;
    flex-wrap: wrap;
}
.photo-essay {
    display: flex;
}
//header{
    //background: rgba(203, 242, 244, 0.99);
//}
nav{
    float:none;
    margin: 15px 0;
}
header::after{
    content:'';
    display: table;
    clear:both;
}

/* .photo {
    width: 324px;
    position: relative;
    border: 1px solid #d2d9d9;
} */
nav ul{
    padding: 0;
    margin: 0 0 0 15px;
  }
  nav ul li{
    background: none;
    list-style: none;
    display: inline-block;
    padding: 8px;
  }
  nav ul li a{
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    /* line-height: 60px; */
    font-size: 20px;
    font-family: 'DM Serif Text', serif;
  }
  nav ul li a:hover{
    background: #808080;
  }
  nav ul ul{
    position: absolute;
    top: 65px;
    display: none;
    z-index: 10;
    background-color: #FFFAFA;
  }
  nav ul li:hover > ul{
    display: block;
  }
  